<div *ngIf="webdata != null">
    <div>
        <img src="{{gameImgSrc}}">
    </div> 
    <div>
        <h2 style="margin-left: 10px;">Description</h2>
    </div>
    <div>
        {{gameDesc}}
    </div>
    <div>
        <h2 style="margin-left: 10px;">Game Info</h2>
    </div>
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let item of gameInfo">
                <td>{{item}}</td>
            </tr>
        </tbody>
    </table>   
    <div>
        <h2 style="margin-left: 10px;">Reviews</h2>
    </div>
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let item of gameReviews">
                <td>{{item}}</td>
            </tr>
        </tbody>
    </table>
</div>