<div *ngIf="webdata != null">
    <div class="row h-100 px-fixed justify-content-between align-items-start">
        <div class="col-2">
             <img src="{{gameImgSrc}}">
        </div>
        <div class="col-4">
            <h1 class="text-left font-weight-bold">Description</h1>
            <p>{{gameDesc}}</p>
        </div>
        <div class="col-3">
            <h1 class="text-left font-weight-bold">Information</h1>
            <table class="table table-striped table-sm">
                <tbody>
                    <tr *ngFor="let item of gameInfo">
                        <td>{{item}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <h1 class="text-left font-weight-bold">Review Scores</h1>
            <table class="table table-striped table-sm">
                <tbody>
                    <tr *ngFor="let item of gameReviews">
                        <td>{{item}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>