<!-- Container for sidebar(s) + page content -->

<ng-sidebar-container style="height: 100vh">
  <!-- A sidebar -->
  <ng-sidebar [(opened)]="sidebarIsOpened">
    <p>Sidebar contents</p>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <div navbar>
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">GAMEFAX</a>
      </nav>
    </div>

    <div class="container">
      <div class="row justify-content-md-center my-3">
          <h1>Home Page</h1>
      </div>
      
      <div class="form-group">
        <div class="row justify-content-md-center my-3">
          <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="model" 
          [ngbTypeahead]="search" 
          [inputFormatter]="formatter" 
          [resultFormatter]="formatter" 
          [showHint]="false" 
          [editable]="false" 
          placeholder="Search..." 
          (selectItem)="showResults($event)"/>
        </div>
        <div class="row justify-content-md-center my-3">
          <button class="btn btn-default" type="button" (click)="showResults(input)">Search</button>
          <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
        </div>

        <div class="row justify-content-md-center my-3">
            <button class="btn btn-default" type="button" (click)="toggleSidebar()">Toggle Sidebar</button>
        </div>
      </div>
    </div>
  </div>
</ng-sidebar-container>