/* Set a basic variable */
base-font-size = 10px

/* Set a variable based on result of mixin call */
body-background = invert(#ccc)

/* Change individual components */
body
    color: white
    background: orange
div
    color: white
    background: orange

.form-group
    position: static
    width: 500px
 