<h1>{{title}}</h1>
<app-input></app-input>

<!--
Add other component HTML's files here:
<app-example></app-example>
-->


<!-- NOTES:
To show other components
Add a component.ts, 
example.component.ts here add the following definition:

import { Component } from '@angular/core';
import { ExampleComponent } from '../example'
@Component({
  selector: 'app-example',
  templateUrl: './example.component.html',
  styleUrls: ['./example.component.css']
})
export class ExampleComponent implements {
  constructor() { }
  // Here add relevant code, objects, behaviors
  // in typescript
}
Create component HTML file: example.component.html
Type: <app-example></app-example> in app.component.html
-->