<div *ngIf="ebayData != null">
  <div class="row justify-content-left align-items-center">
    <div class="col-4">
        <div class="ebay-img"><img src="{{ebayData[0].galleryURL}}"></div>
    </div>
    <div class="col-8">
      <h1 class="text-uppercase font-weight-bold">eBay</h1>
      <p class="text-left">{{ebayData[0].title}}</p>
      <a href="{{ebayData[0].viewItemURL}}" target="_blank"><button class="btn dark">Buy Now<i class="fa fa-dollar mx-1"></i>{{ebayData[0].currentPrice}}</button></a>
    </div>
  </div>
</div>