<!-- HTMLCollector Component which collects every API component and displays it on one page -->
<!-- Add more API components to the list when needed -->
<div>
  <body>
    <h1 align="center">HTMLCollector Page</h1>
  </body>
</div>
<div>
    <h2 style="margin-left: 10px;">Twitch API Data (Placeholder)</h2>
    <!-- Initializes TwitchComponent and returns its respective .html data -->
    <app-twitch></app-twitch>
  </div>
<div>
  <h2 style="margin-left: 10px;">Test API Data</h2>
  <app-test-api></app-test-api>
</div>

