<!-- HTMLCollector Component which collects every API component and displays it on one page -->
<!-- Add more API components to the list when needed -->
<div>
  <body>
    <h1 align="center">HTMLCollector Page</h1>
    <h2 align="center">Current game: {{gameName}}</h2>
  </body>
</div>

<div>
  <h2 style="margin-left: 10px;">Top Twitch Streams for {{gameName}}</h2>
  <app-twitch></app-twitch>
</div>

<div>
  <h2 style="margin-left: 10px;">YouTube Reviews for {{gameName}}</h2>
  <app-youtube></app-youtube>
</div>

<div>
  <h2 style="margin-left: 10px;">Ebay Search for {{gameName}}</h2>
  <app-ebay></app-ebay>
</div>

<div>
  <h2 style="margin-left: 10px;">Walmart Search for {{gameName}}</h2>
  <app-walmart></app-walmart>
</div>
