<!-- HTMLCollector Component which collects every API component and displays it on one page -->
<!-- Add more API components to the list when needed -->
<div>
  <body>
    <h1 align="center">HTMLCollector Page</h1>
    <h2 align="center">Current game: {{gameName}}</h2>
  </body>
</div>
<div>
    <h2 style="margin-left: 10px;">Top 5 Twitch Streams for {{gameName}}</h2>
    <app-twitch></app-twitch>
  </div>
<div>
  <h2 style="margin-left: 10px;">Test API Data</h2>
  <app-test-api></app-test-api>
</div>

