<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Display Name</th>
        <th scope="col">Profile Image</th>
        <th scope="col">Thumbnail</th>
        <th scope="col">Title</th>
        <th scope="col">Viewer Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let twitchData of twitchData">
        <td>{{twitchData.user_id}}</td>
        <td>{{twitchData.display_name}}</td>
        <td><img src="{{twitchData.profile_image_url}}" style="width:50px;height:50px;"></td>
        <td>Not working yet.</td>
        <td>{{twitchData.title}}</td>
        <td>{{twitchData.viewer_count}}</td>
      </tr>
    </tbody>
  </table>