<div *ngIf="redditData != null">
  <ng-container *ngIf="redditData.status === 0; else Success">
    <div class="row h-100 px-fixed justify-content-between align-items-center">
      <div class="col">
        <h1 class="text-uppercase font-weight-bold text-center">No information found for {{redditData[0].gameInput}}.</h1>
      </div>
    </div>
  </ng-container>

  <ng-template #Success>
    <div class="row justify-content-center align-items-center">
      <div class="col-6">
        <a href="https://www.reddit.com{{redditDataSub[0].data.url}}" target="_blank">
          <img src="{{iconImage}}" class="img-fluid center">
          <p class="text-center">Subreddit - r/{{redditDataSub[0].data.display_name}}</p>
        </a>
      </div>
      <div class="col-6 subreddit-info">
        <h1 class="font-weight-bold">Review and Discussion Thread</h1>
        <p>{{redditDataSearch[0].data.title}}</p>
        <a href="https://www.reddit.com{{redditDataSearch[0].data.permalink}}" target="_blank"><button class="btn dark">Read Now<i class="fa fa-book ml-2"></i></button></a>
      </div>
    </div>
  </ng-template>
</div>
