<!-- Takes testData[] from test-api.component.ts and formats it into a Bootstrap table -->
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let testData of testData">
        <td>{{testData.userId}}</td>
        <td>{{testData.id}}</td>
        <td>{{testData.title}}</td>
        <td>{{testData.body}}</td>
      </tr>
    </tbody>
  </table>