<div *ngIf="walmartData != null">
  <div class="row justify-content-left align-items-center">
    <div class="col-4">
        <img src="{{walmartData[0].largeImage}}" style="height: 200px">
    </div>
    <div class="col-8">
      <h1 class="text-uppercase font-weight-bold">Walmart</h1>
      <p class="text-left">{{walmartData[0].name}}</p>
      <a href="{{walmartData[0].productUrl}}" target="_blank"><button class="btn dark">Buy Now<i class="fa fa-dollar mx-1"></i>{{walmartData[0].salePrice}}</button></a>
    </div>
  </div>
</div>